.course-content {
  text-align: center;
  overflow: hidden;
  border-radius: 5px; 
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.04);
  background: white;
  padding: 6px;
}

.course-content:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.04);
}