.body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.body main {
  flex: 1;
  background: #eee;
}

.body footer {
  line-height: 40px;
  height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}

.logo {
  float: left;
  margin-right: 30px;
}

img.item {
  height: 150px;
  width: auto;
}

.center {
  text-align: center;
}